@using BookReservationSystem.BL.IServices
@inject IGenreService GenreService
@model BookReservationSystem.Domain.BookFilterDto

<div class="accordion" id="filterAccordion">
  <div class="accordion-item">
    <h2 class="accordion-header" id="filterHeading">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Filters
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="filterHeading" data-bs-parent="#filterAccordion">
      <div class="accordion-body">
        
        @using (Html.BeginForm("Index", "Book"))
        {
            <p class="text-red">@Html.ValidationSummary(true, "")</p>
            <div class="row valign-wrapper">
                <div class="col s12 l4">Title:</div>
                <div class="input-field col s12 l8">
                    @Html.TextBoxFor(model => model.Name, new { placeholder = "Title" })
                </div>
            </div>
            <div class="row valign-wrapper">
                <div class="col s12 l4">Author:</div>
                <div class="input-field col s12 l8">
                    @Html.TextBoxFor(model => model.Author, new { placeholder = "Author" })
                </div>
            </div>
            <div class="row valign-wrapper">
                <div class="col s12 l4">ISBN:</div>
                <div class="input-field col s12 l8">
                    @Html.TextBoxFor(model => model.Isbn, new { placeholder = "Isbn" })
                </div>
            </div>
            <div class="row valign-wrapper">
                <div class="col s12 l4">Publisher:</div>
                <div class="input-field col s12 l8">
                    @Html.TextBoxFor(model => model.Publisher, new { placeholder = "Publisher" })
                </div>
            </div>
            <div class="row valign-wrapper">
                    <div class="col s12 l4">@Html.LabelFor(model => model.Genre)</div>
                    <div class="form-group col s12 l8">
                        <select name="Genre">
                            <option value="">-- select genre --</option>
                            @foreach (var genre in await GenreService.FindAll())
                            {
                                <option value="@genre.Name">@genre.Name</option>
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.Genre, null, new { @class = "text-danger" })
                    </div>
                </div>
            <div class="row valign-wrapper">
                <div class="col s12 l4">Sort by best rating:</div>
                <div class="input-field col s12 l8">
                    @Html.CheckBoxFor(model => model.SortByRating)
                </div>
            </div>
            <div class="row valign-wrapper">
                <div class="col s12 l4">Show only available books:</div>
                <div class="input-field col s12 l8">
                    @Html.CheckBoxFor(model => model.OnlyAvailable)
                </div>
            </div>
            <div class="form-group mt-1">
                <input type="submit" value="Search" class="btn btn-primary"/>
            </div>
        }    
          
      </div>
    </div>
  </div>
</div>