@using Castle.Core.Internal
@model BookReservationSystem.Domain.BookDto
@{
    ViewData["Title"] = @Model.Name;
}

<h1>@Model.Name</h1>

<div style="height: 15em">
    <img src="@Url.Content(Model.CoverArtPath.IsNullOrEmpty() ? "~/Resources/empty.jpg": Model.CoverArtPath)" alt="cover art" class="h-100" />
</div>

<table class="table">
    <tbody>
    <tr>
        <td>Genres</td>
        <td>@string.Join(", ", Model.Genres.Select(a => a.Name))</td>
    </tr>
    <tr>
        <td>Authors</td>
        <td>@string.Join(", ", Model.Authors.Select(a => a.Name))</td>
    </tr>
    <tr>
        <td>Publisher</td>
        <td>@string.Join(", ", Model.Publishers.Select(a => a.Name))</td>
    </tr>
    <tr>
        <td>ISBN</td>
        <td>@Model.Isbn</td>
    </tr>
    <tr>
        <td>Abstract</td>
        <td>@Model.Abstract</td>
    </tr>
    <tr>
        <td>Average Rating</td>
        <td>@Model.Rating</td>
    </tr>
    </tbody>
</table>

<div>
@Html.ActionLink(
    "Reserve", 
    "Index", 
    "Reservation", 
    new { id = Model.Id }, 
    new { @class = "btn btn-primary" })

@if (User.IsInRole("Admin"))
{
    @Html.ActionLink(
        "Edit",
        "Edit",
        "Book",
        new { id = Model.Id },
        new { @class = "btn btn-primary" })
    
    <form method="post" class="d-inline-block" asp-controller="Book" asp-action="Delete" asp-route-id="@Model.Id">
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
}
</div>

<div class="mt-5">
    <h2>Reviews</h2>

    @Html.ActionLink(
        "Write review",
        "Add",
        "Review",
        new { id = Model.Id },
        new { @class = "btn btn-primary" })

    @if (!Model.Reviews.Any())
    {
        <h5>No reviews yet.</h5>
    }
    else
    {
        <table class="table">
            <thead>
            <tr>
                <th>Author</th>
                <th>Content</th>
                <th>Rating</th>
                    <th>Date and time</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var review in Model.Reviews)
            {
                <tr>
                    <td>@review.Author.UserName</td>
                    <td>@review.Content</td>
                    <td>@review.Rating/10</td>
                    <td>@review.Date</td>
                        @if (User.IsInRole("Admin") || review.Author.UserName == User.Identity?.Name)
                        {
                            <td>
                                <form method="post" class="d-inline-block" asp-controller="Review" asp-action="DeleteFromBookDetail" asp-route-id="@review.Id">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </td>
                        }
                    </tr>
            }
            </tbody>
        </table>
    }
</div>