@model BookReservationSystem.Domain.BookUpdateDto
@{
    ViewData["Title"] = "Edit Book";
}

@using (Html.BeginForm("Edit", "Book", FormMethod.Post,new{ @enctype="multipart/form-data"}))
{
    @Html.HiddenFor(b => b.Id)
    <p class="text-red">@Html.ValidationSummary(true, "")</p>
                                                         
    <div class="row valign-wrapper">
        <div class="col s12 l4">Title:</div>
        <div class="input-field col s12 l8">
            @Html.TextBoxFor(model => model.Name, new { placeholder = "Title" })
        </div>
    </div>
    <div class="row valign-wrapper">
        <div class="col s12 l4">ISBN:</div>
        <div class="input-field col s12 l8">
            @Html.TextBoxFor(model => model.Isbn, new { placeholder = "Isbn" })
        </div>
    </div>
    <div class="row valign-wrapper">
        <div class="col s12 l4">Abstract:</div>
        <div class="input-field col s12 l8">
            @Html.TextAreaFor(model => model.Abstract, new { placeholder = "Abstract" })
        </div>
    </div>
    <div class="row valign-wrapper">
        <div class="col s12 l4">Cover image:</div>
        <div class="input-field col s12 l8">
            <input asp-for="CoverArt" type="file">
            <span asp-validation-for="CoverArt"></span>
        </div>
    </div>
    <div class="form-group mt-1">
        <input type="submit" value="Submit" class="btn btn-primary"/>
    </div>
}