@page
@model BookReservationSystem.FE.Pages.Identity.Register
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(x => x.ReturnUrl)
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary(null, new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(x => x.Model.FirstName)
                @Html.TextBoxFor(x => x.Model.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Model.FirstName, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Model.LastName)
                @Html.TextBoxFor(x => x.Model.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Model.LastName, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Model.UserName)
                @Html.TextBoxFor(x => x.Model.UserName, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Model.UserName, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Model.Email)
                @Html.TextBoxFor(x => x.Model.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Model.Email, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Model.Password)
                @Html.PasswordFor(x => x.Model.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Model.Password, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Model.ConfirmPassword)
                @Html.PasswordFor(x => x.Model.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Model.ConfirmPassword, null, new { @class = "text-danger" })
            </div>
            <div>
                @Html.LabelFor(x => x.Model.IsAdmin)
                @Html.CheckBoxFor(x => x.Model.IsAdmin)
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        }
    </div>
</div>
