@model BookReservationSystem.Domain.UserDto
@{
    ViewData["Title"] = "Profile";
}

<h1>@User.Identity.Name's Profile</h1>

<div class="mt-5">
    <h3>Personal information</h3>
    <table class="table">
        <tbody>
        <tr>
            <td>Name</td>
            <td>@Model.FirstName @Model.LastName</td>
        </tr>
        <tr>
            <td>Email address</td>
            <td>@Model.Email</td>
        </tr>
        </tbody>
    </table>
</div>

@if (User.Identity.Name == Model.UserName)
{
    @Html.ActionLink(
                    "Edit Personal Information",
                    "EditProfile",
                    "User",
                    new { id = Model.Id },
                    new { @class = "btn btn-primary" })
}

@if (User.IsInRole("Admin") && User.Identity.Name != Model.UserName)
{
    <form method="post" class="d-inline-block" asp-controller="User" asp-action="Delete" asp-route-id="@Model.Id">
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
}

<div class="mt-5">
    <h2>Reservations</h2>
    @if (!Model.Reservations.Any())
    {
        <h5>No reservations yet.</h5>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Book</th>
                    <th>Library</th>
                    <th>Reservation date</th>
                    <th>Pickup date</th>
                    <th>Due date</th>
                    <th>Return date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var reservation in Model.Reservations)
                {
                    <tr>
                        <td>@reservation.Book.Name</td>
                        <td>@reservation.Library.Name</td>
                        <td>@reservation.ReservationDate</td>
                        <td>@reservation.PickupDate</td>
                        <td>@reservation.DueDate</td>
                        <td>@reservation.ReturnDate</td>
                        <td>
                            @if (reservation.PickupDate == null && reservation.ReturnDate == null)
                            {
                                <form method="post" class="d-inline-block" asp-controller="Reservation" asp-action="Pickup" asp-route-id="@reservation.Id">
                                    <button type="submit" class="btn btn-primary">Pickup book</button>
                                </form>
                                <form method="post" class="d-inline-block" asp-controller="Reservation" asp-action="Delete" asp-route-id="@reservation.Id">
                                    <button type="submit" class="btn btn-danger">Delete reservation</button>
                                </form>
                            } else if (reservation.ReturnDate == null)
                            {
                                <form method="post" class="d-inline-block" asp-controller="Reservation" asp-action="Return" asp-route-id="@reservation.Id">
                                    <button type="submit" class="btn btn-primary">Return book</button>
                                </form>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

<div class="mt-5">
    <h3>Book reviews</h3>
    @if (!Model.Reviews.Any())
    {
        <h5>No reviews yet.</h5>
    }
    else
    {
        <table class="table">
            <thead>
            <tr>
                <th>Book</th>
                <th>Description</th>
                <th>Rating</th>
                    <th>Date and time</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var review in Model.Reviews)
            {
                <tr>
                    <td>@review.Book.Name</td>
                    <td>@review.Content</td>
                    <td>@review.Rating/10</td>
                    <td>@review.Date</td>
                    <td>
                       <form method="post" class="d-inline-block" asp-controller="Review" asp-action="DeleteFromProfile" asp-route-id="@review.Id">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
</div>